@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #cc0000;
}

.menu_link {
    text-decoration: none;
    background-image: linear-gradient(#fff, #fff);
    background-size: 0 0.1em;
    background-position-y: 100%;
    background-position-x: 0;
    background-repeat: no-repeat;
    transition: background-size 0.4s ease-in-out;
    padding-bottom: 2px;
}

.menu_link:hover,
.menu_link:focus {
    background-size: 100% 2px;
}

.menu_link-active {
    background-size: 100% 2px;
}

/*header*/

.header .logo-header {
    filter: invert(36%) sepia(10%) saturate(5770%) hue-rotate(196deg) brightness(97%) contrast(85%);
}

.header .header-scroll {
    width: 98%;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding-top: 25px;
    padding-bottom: 25px;
    transition: all 0.5s ease-in-out;

}

.header a {
    color: #4366c5 !important;
    transition: all 0.5s ease-in-out;
}

.header .btnSearchMenu, .header .btnUserMenu, .header a {
    font-weight: 500;
    color: #4366c5 !important;
    transition: all 0.5s ease-in-out;
    stroke: #4366c5 !important;
}

.header .menu_link {
    background-image: linear-gradient(#4366c5, #4366c5);
    transition: all 0.5s ease-in-out;
}

.header .btn_menu div {
    background: #4366c5;
}

.close path {
    stroke: #fff;
}

.menu-active {
    visibility: visible;
    left: 0;
}

.header-scroll .userMenu {
    opacity: 0;
    visibility: hidden;
    transform: rotateX(90deg);
    transform-style: preserve-3d;
    transform-origin: top center;
}

.header-scroll .userMenuForm {
    background: linear-gradient(45deg, #5d85d4, #3f59b6);
    box-shadow: 0 10px 20px #00000033;
    border: none;
}

.header-scroll .userMenu-active {
    opacity: 1;
    visibility: visible;
    transform: rotateX(0deg);
    transform-style: preserve-3d;
    transform-origin: top center;
    transition: all 0.25s linear
}

.searchMenu {
    transform: translateX(-50%) rotateX(90deg) !important;
}

.searchMenu-active {
    visibility: visible !important;
    opacity: 1;
    transform: translateX(-50%) rotateX(0deg) !important;
    transition: all 0.25s linear;
}

.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 10px 30px;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border: none;
    padding: 0 30px;
}

.css-1pysi21-MuiFormLabel-root-MuiInputLabel-root {
    left: 17px;
    color: #adadad;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: #4366c5;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
    display: none;
}

/*scrollbar*/

body::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: #4366c5;
}

/**/

.home_page .title-active {
    transform: translateY(0px);
    opacity: 1;
}

.home_page .evaluate-title-active {
    transform: translateX(0px);
    opacity: 1;
}

.home_page .evaluate-slide-active {
    transform: translateY(0px);
    opacity: 1;
}

.home_page .main-active {
    transform: translateY(0px);
    opacity: 1;
}

.places > div {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.home_page .effect{
    transform: translate(-50%, -50%);
}

.home_page .person {
    top: calc(50% + 3%);
    left:0
}
.home_page .person-load {
    transition: all 1s linear;
    left:50%;
}

.home_page .moutain1 {
    top: calc(50% + 12%);
    left: 50%
}

.home_page .moutain2 {
    top: calc(50% - 6.5%);
    left: 50%
}

/*Tour*/
.tours .slick-slide {
    border-radius: 12px;
    box-shadow: 0px 5px 30px #00000020;
}

.btn_order {
    overflow: hidden;
    background: linear-gradient(90deg, #4366c5, #88a9e0);
    transition: all 0.3s linear;
}

/* slider*/


.tours .slick-track {
    display: flex !important;
    justify-content: space-between;
}

.tours .slick-slider .slick-track, .slick-slider .slick-list, .evaluate .slick-slider .slick-track, .slick-slider .slick-list {
    transition: ease-in-out all 0.3s;
}

.tours .slick-slide:not(.slick-center) {
    scale: 0.85;
    transition: all 0.6s ease-in-out;
}

.tours .slick-center {
    transition: all 0.5s ease-in-out;
    scale: 1;
}


.tours .slick-next, .posts .slick-next {
    z-index: 90;
    right: -50px !important;
    height: auto !important;
    width: auto !important;
}

.tours .slick-prev, .posts .slick-prev {
    z-index: 90;
    left: -50px !important;
    height: auto !important;
    width: auto !important;
}

.tours .slick-dots li.slick-active button:before, .evaluate .slick-dots li.slick-active button:before, .posts .slick-dots li.slick-active button:before {
    font-size: 7px;
    opacity: 1;
    color: #4366c5 !important;
}

.evaluate .slick-dots li button:before {
    opacity: 1;
    color: white;
    font-size: 7px;
}

/* posts */
.posts .group {
    box-shadow: 0px 20px 20px #00000020;
}

.posts .group:hover {
    box-shadow: 0px 20px 20px #00000066;
}

.posts .slick-track {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.posts .slick-slide {
    margin: 0 15px;
}

.posts .slick-list {
    margin: 0;
    padding: 30px 0 50px !important;
}

/* partner */

.partners .slick-track {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.partners .slick-slide {
    margin: 0 25px !important;
}

/* profile */
.home_page .profile-tab-active {
    background: #4366c5 !important;
}

.home_page .profile-tab-active svg {
    color: white !important;
}

.home_page .profile-tab-active p {
    color: white !important;
}

/*ABOUT PAGE*/

.about_page .img-active {
    opacity: 1;
    transform: scale(1);
}

.about_page .title-active {
    opacity: 1;
    transform: translateZ(0);
}

.about_page .main-active {
    opacity: 1;
    transform: translateZ(0);
}

.about_page .content-active {
    opacity: 1;
    transform: translateZ(0);
}

.formContactAbout > div {
    /*width: 100%;*/
}

/*Address Page*/

.address_page .title-active {
    opacity: 1;
    transform: translateZ(0);
}

.address_page .main-active {
    opacity: 1;
    transform: translateZ(0);
}

.ipAddressTabSearch label {
    background-color: white !important;
}

/* Tour Page */

@media screen and (max-width: 1024px) {
    .tours_page .toursFilter {
        height: 0;
        opacity: 0;
        visibility: hidden;
        transform: rotateX(90deg);
    }
}

.tours_page .btnFilter {
    height: 100%;
    opacity: 1;
    visibility: visible;
    transform: rotateX(0deg);
}

.tours_page .toursResult1 {
    visibility: hidden;
    height: 0;
    opacity: 0;
}

.tours_page .toursResult1 .btnOrder1 {
    width: 30% !important;
}

.tours_page .toursResult2 {
    visibility: visible;
    max-width: 100%;
    height: 100%;
    opacity: 1;
    transition: all linear 0.25s;
}

.tours_page .toursResult2 .btnOrder2 {
    width: 50%;
    font-size: 16px;
}

@media screen and (min-width: 1024px) {
    .tours_page .toursResult2 .btnOrder2 {
        width: 100%;
        font-size: 16px;
    }
}

/*posts_page*/

.posts_page .btn_share .share, .postDetail_page .btn_share .share{
    opacity: 0;
    visibility: hidden;
    transform: rotateX(90deg);
}

.posts_page .btn_share:hover .share, .postDetail_page .btn_share:hover .share {
    opacity: 1;
    overflow: hidden;
    visibility: visible;
    transform: rotateX(0deg);
}

.about_page .nextui-c-eXOOPO-lkBNdM-isTextarea-false {
    padding: 10px !important;
}

.nextui-c-iwmZdB-iiIdOsz-css {
    width: 100% !important;
}

.posts_page .postReadMore .btn .active, .posts_page .tagReadMore .btn .active, .posts_page .imgReadMore .btn .active {
    transform: rotate(90deg);
    transition: all 0.25s linear;
}

.posts_page .postReadMore .content .active, .posts_page .tagReadMore .content .active, .posts_page .imgReadMore .content .active,
.addressDetail_page .postReadMore .content .active, .addressDetail_page .tagReadMore .content .active, .addressDetail_page .imgReadMore .content .active,
.postDetail_page .postReadMore .content .active, .postDetail_page .tagReadMore .content .active, .postDetail_page .imgReadMore .content .active{
    height: 100%;
    opacity: 1;
    visibility: visible;
}

@media screen and (max-width: 480px) {
    .posts_page .imgReadMore .content .active {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media screen and (max-width: 320px) {
    .posts_page .imgReadMore .content .active {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

/*responsive*/

@media screen and (min-width: 768px) {
    .tours .slick-slide {
        border-radius: 12px !important;
        width: 388px !important;
    }
}

@media screen and (max-width: 1536px) {
    .places .group:nth-last-child(1), .places .group:nth-last-child(2) {
        display: none;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1440px) {
    .tours .slick-slide {
        width: 340px !important;
    }

    .tours .slick-slide:not(.slick-center) {
        scale: 0.85;
    }

    .tours .slick-center {
        scale: 0.95;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .tours .slick-slide {
        width: 310px !important;
    }

    .tours .slick-slide:not(.slick-center) {
        scale: 0.82;
    }

    .tours .slick-center {
        scale: 0.9;
    }
}

@media screen and (max-width: 1024px) {
    .tours .slick-slide:not(.slick-center) {
        scale: 1;
    }

    .tours .slick-center {
        scale: 1;
    }

    .tours .slick-track {
        justify-content: space-between;
    }

    .tours .slick-next {
        right: 0px !important;
        background: white !important;
        border-radius: 5px;
        box-shadow: 5px 0px 10px #00000033;
    }

    .tours .slick-prev {
        left: 0px !important;
        background: white !important;
        border-radius: 5px;
        box-shadow: -5px 0px 10px #00000033;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1230px) {
    .places {
        grid-template-columns: auto auto auto;
    }

    .places div:nth-child(0) {
        grid-row: span 1 / span 1;
    }
}

@media screen and (max-width: 540px) {
    .evaluate-main {
        width: 90%;
    }
}


